/* todo */

body {
    margin: 0;
    padding: 0;
    background-color: #ffe6d0;
}

.main-nav {
    background-color: #eaffd0;
    width: 100%;
    height: 40px;
}


.feed {
    width: 70%;
    height: 200vh;
    background-color: #fffdd0;

}

p {
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    width: 100%;
    height: 80px;
    
    text-align: justify;
    overflow : hidden;


    text-overflow: ellipsis;
    padding: 0;
    margin: 0;
    background-color: springgreen;

}