<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Songmate</title>
    <link href="css/main.css" type="text/css" rel="stylesheet">
</head>
<body>
    <div class="main-nav">
        <img src="./images/logo.png" class="logo">
        <span class="main-nav__title">Songmate</span>
    </div>


    <div class="background-div-one spotify-font__heading">
        <div class="main-wrapper-one">
            <p>Find people who value your taste</p>
        </div>
    </div>
    <div class="black-background spotify-font__paragraph">
        <h1></h1>
        <p>Some information about this app.</p>
    </div>
    <div class="background-div-two spotify-font__heading">
        <div class="main-wrapper-two">
            <p>Find jamming mate</p>
        </div>
    </div>
    <div class="black-background spotify-font__paragraph">
        <h1>Our algorithm</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
    <div class="background-div-three">
        <div class="main-wrapper-three">
            <p class="spotify-font__heading">Get music recommendation from people who know what you like</p>
        </div>
    </div>

    <footer class="main-footer">
        <span>Icons made by <a href="https://www.flaticon.com/free-icon/sound_865548" title="Good Ware">Good Ware</a> from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a></span>
        <span>Project by JŻ & KK</span>
    </footer>

</body>
</html>