<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Profile</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='profile.css'>

</head>
<body>
    <div class="main-wrapper">
        <h1>Janet Hartt</h1>
        <div class="main-wrapper__profile-picture">
            <img src="../images/janet.jpg">
        </div>
        <div class="main-wrapper__basic-info">
            <p>Works in Douglas</p>
            <p>Studied at: University of Boston</p>
            <p>Lives in: Boston</p>
            <p>heart single</p>
            <p>Plays: piano, flute</p>
        </div>
        <div class="main-wrapper__article-div">
            <h3>About</h3>
            <article class="main-wrapper__article">
            I am a person who is positive about every aspect of life. There are many things I like to do, to see, and to experience. I like to read, I like to write; I like to think, I like to dream; I like to talk, I like to listen. I like to see the sunrise in the morning, I like to see the moonlight at night;
            </article>
            
        </div>
        <div class="main-wrapper__extended-info">

        </div>


    </div>





    <script src='scripts/profile.js'></script>
</body>
</html>