* {
    box-sizing: border-box;
    font-family: Circular, Helvetica, Arial, sans-serif, IosFix;
}

body {
    background-color: rgb(40, 41, 44);
    margin: 0;
    padding: 0;
    color: #1DB954;
}

.main-nav {
    min-height: 40px;
    background-color: deepskyblue;
    position: relative;
    color: whitesmoke;
    font-size: 1.5rem;
    vertical-align: middle;
}

.main-nav span{
    box-sizing: border-box;
    display: inline-block;
    padding: 5px;
    margin: auto;
}

.main-wrapper {
    box-sizing: border-box;
    width: 50%;
    padding: 20px;
    margin: auto;
    margin-top: 40px;
    vertical-align: center;

    background: linear-gradient(0deg, #f6cb6c 20%, #f3c65d 65%, #f2ae54 100%);
}


.btn, .spotify-btn, .fb-btn {
    font-size: 11px;
    line-height: 1;
    border-radius: 500px;
    padding: 20px 0 20px;

    display: block;
    margin: 10px auto 10px auto;
    margin-left: auto;
    margin-right: auto;
    font-weight: 700;

    cursor: pointer;
    background-color: rgb(130, 130, 130);
    border: 1px solid transparent;


    transition-property: background-color, border-color, color, box-shadow, filter, -webkit-box-shadow, -webkit-filter;
    transition-duration: .3s;
    border-width: 0;
    letter-spacing: 2px;
    max-width: 160px;
    min-width: 160px;
    
    text-transform: uppercase;

    text-align: center;

    align-items: center;


}

.spotify-btn {
    background-color: #1DB954;
}

.fb-btn {
    background-color: #385898;
    box-shadow: black;
}

h1 {
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}

p {
    padding: 0;
    margin: 0;
}

@keyframes fading-effect {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }

}

.main-wrapper-one,
.main-wrapper-two,
.main-wrapper-three {
    display: block;
    height: 100vh;
    background-color: black;
    margin: 0;
    padding: 50px;
    opacity: 0.1;

}

.background-div-one {
    display: block;
    height: auto;
    width: auto;
    background-image: url('https://images.pexels.com/photos/3007347/pexels-photo-3007347.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
    background-repeat: no-repeat;
    background-size: 130%;
    background-position: 0% 0%;
    transition: opacity 1s ease-in-out;
    animation: 4s ease-out 0s 1 fading-effect;
}

.main-wrapper-two {

}

.main-wrapper-three {

}

/*
https://images.unsplash.com/photo-1503853585905-d53f628e46ac?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=633&q=80

*/

.spotify-font {
    text-transform: uppercase;
    font-weight: 300;
    font-family: 'Courier New', Courier, monospace;
}